NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;

NET "clk" LOC = P56 | IOSTANDARD = LVTTL;
NET "rst_n" LOC = P38 | IOSTANDARD = LVTTL;

NET "cclk" LOC = P70 | IOSTANDARD = LVTTL;

NET "spi_mosi" LOC = P44 | IOSTANDARD = LVTTL;
NET "spi_miso" LOC = P45 | IOSTANDARD = LVTTL;
NET "spi_ss" LOC = P48 | IOSTANDARD = LVTTL;
NET "spi_sck" LOC = P43 | IOSTANDARD = LVTTL;
NET "spi_channel<0>" LOC = P46 | IOSTANDARD = LVTTL;
NET "spi_channel<1>" LOC = P61 | IOSTANDARD = LVTTL;
NET "spi_channel<2>" LOC = P62 | IOSTANDARD = LVTTL;
NET "spi_channel<3>" LOC = P65 | IOSTANDARD = LVTTL;

NET "avr_tx" LOC = P55 | IOSTANDARD = LVTTL;
NET "avr_rx" LOC = P59 | IOSTANDARD = LVTTL;
NET "avr_rx_busy" LOC = P39 | IOSTANDARD = LVTTL;

NET "sdram_clk" LOC = P29 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sdram_cle" LOC = P30 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sdram_dqm" LOC = P74 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sdram_cs" LOC = P84 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sdram_we" LOC = P81 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sdram_cas" LOC = P82 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sdram_ras" LOC = P83 | IOSTANDARD = LVTTL | SLEW = FAST;

NET "sdram_ba<0>" LOC = P85 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sdram_ba<1>" LOC = P87 | IOSTANDARD = LVTTL | SLEW = FAST;

NET "sdram_a<0>" LOC = P101 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sdram_a<1>" LOC = P102 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sdram_a<2>" LOC = P104 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sdram_a<3>" LOC = P105 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sdram_a<4>" LOC = P5 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sdram_a<5>" LOC = P6 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sdram_a<6>" LOC = P7 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sdram_a<7>" LOC = P8 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sdram_a<8>" LOC = P9 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sdram_a<9>" LOC = P10 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sdram_a<10>" LOC = P88 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sdram_a<11>" LOC = P27 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sdram_a<12>" LOC = P26 | IOSTANDARD = LVTTL | SLEW = FAST;

NET "sdram_dq<0>" LOC = P75 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sdram_dq<1>" LOC = P78 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sdram_dq<2>" LOC = P79 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sdram_dq<3>" LOC = P80 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sdram_dq<4>" LOC = P34 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sdram_dq<5>" LOC = P35 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sdram_dq<6>" LOC = P40 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sdram_dq<7>" LOC = P41 | IOSTANDARD = LVTTL | SLEW = FAST;

# NET "hdmi1_tmds(3)"  	LOC = "P144" |IOSTANDARD = TMDS_33 | CLOCK_DEDICATED_ROUTE = FALSE ; # Clock	
# NET "hdmi1_tmdsb(3)"  LOC = "P143" |IOSTANDARD = TMDS_33 | CLOCK_DEDICATED_ROUTE = FALSE ;
# NET "hdmi1_tmds(2)"  	LOC = "P138" |IOSTANDARD = TMDS_33 ; # Red 	
# NET "hdmi1_tmdsb(2)"  LOC = "P137" |IOSTANDARD = TMDS_33 ;
# NET "hdmi1_tmds(1)"  	LOC = "P140" |IOSTANDARD = TMDS_33 ; # Green	
# NET "hdmi1_tmdsb(1)"  LOC = "P139" |IOSTANDARD = TMDS_33 ;
# NET "hdmi1_tmds(0)"  	LOC = "P142" |IOSTANDARD = TMDS_33 ; # Blue
# NET "hdmi1_tmdsb(0)"  LOC = "P141" |IOSTANDARD = TMDS_33 ;

NET "vga_hs" LOC = P50 | IOSTANDARD = LVTTL;
NET "vga_vs" LOC = P51 | IOSTANDARD = LVTTL;

NET "vga_r<0>"  LOC = P23  | IOSTANDARD = LVTTL;
NET "vga_r<1>"  LOC = P21  | IOSTANDARD = LVTTL;
NET "vga_r<2>"  LOC = P16  | IOSTANDARD = LVTTL;
NET "vga_r<3>"  LOC = P14  | IOSTANDARD = LVTTL;
NET "vga_r<4>"  LOC = P11  | IOSTANDARD = LVTTL;
NET "vga_r<5>"  LOC = P133 | IOSTANDARD = LVTTL;

NET "vga_g<0>"  LOC = P24  | IOSTANDARD = LVTTL;
NET "vga_g<1>"  LOC = P22  | IOSTANDARD = LVTTL;
NET "vga_g<2>"  LOC = P17  | IOSTANDARD = LVTTL;
NET "vga_g<3>"  LOC = P15  | IOSTANDARD = LVTTL;
NET "vga_g<4>"  LOC = P12  | IOSTANDARD = LVTTL;
NET "vga_g<5>"  LOC = P134 | IOSTANDARD = LVTTL;

NET "vga_b<5>"  LOC = P131 | IOSTANDARD = LVTTL;
NET "vga_b<4>"  LOC = P126 | IOSTANDARD = LVTTL;
NET "vga_b<3>"  LOC = P123 | IOSTANDARD = LVTTL;
NET "vga_b<2>"  LOC = P124 | IOSTANDARD = LVTTL;
NET "vga_b<1>"  LOC = P127 | IOSTANDARD = LVTTL;
NET "vga_b<0>"  LOC = P132 | IOSTANDARD = LVTTL;
