*.ice text eol=lf
*.si text eol=lf
*.g4 text eol=lf
*.v text eol=lf
*.sh text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.c text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.inc text eol=lf
*.py text eol=lf
*.ucf text eol=lf
*.pcf text eol=lf
*.json text eol=lf
*.raw binary
*.rawraw binary
.gitattributes text eol=lf