*.ice text eol=lf
*.v text eol=lf
*.sh text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.c text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.ucf text eol=lf
*.pcf text eol=lf
.gitattributes text eol=lf