# ----------------------------------------------------------------------------
#
# Icebreaker constraint file (.pcf)
# Pinout:
# https://github.com/icebreaker-fpga/icebreaker/blob/master/img/icebreaker-v1_0b-legend.jpg
# Link
# https://1bitsquared.com/collections/fpga/products/icebreaker
#
# ----------------------------------------------------------------------------

# -------------------------- SYSTEM CLOCK ------------------------------------
set_io -nowarn CLK 35

# ------------------------------ UART ----------------------------------------
set_io -nowarn RX 6
set_io -nowarn TX 9

# ------------------------- LEDs and Button ----------------------------------
set_io -nowarn BTN_N      10
set_io -nowarn LEDR_N     11
set_io -nowarn LEDG_N     37

# --------------------------- SPI Flash --------------------------------------
set_io -nowarn FLASH_SCK  15
set_io -nowarn FLASH_SSB  16
set_io -nowarn FLASH_IO0  14
set_io -nowarn FLASH_IO1  17
set_io -nowarn FLASH_IO2  12
set_io -nowarn FLASH_IO3  13

# ------------ Leds and Buttons (PMOD 2) -------------------------------------
set_io -nowarn LED1 26
set_io -nowarn LED2 27
set_io -nowarn LED3 25
set_io -nowarn LED4 23
set_io -nowarn LED5 21
set_io -nowarn BTN1 20
set_io -nowarn BTN2 19
set_io -nowarn BTN3 18

# ------------ PMOD1A connector ----------------------------------------------
set_io -nowarn P1A1   4
set_io -nowarn P1A2   2
set_io -nowarn P1A3  47
set_io -nowarn P1A4  45
set_io -nowarn P1A7   3
set_io -nowarn P1A8  48
set_io -nowarn P1A9  46
set_io -nowarn P1A10 44

# ------------ PMOD1B connector ----------------------------------------------
set_io -nowarn P1B1  43
set_io -nowarn P1B2  38
set_io -nowarn P1B3  34
set_io -nowarn P1B4  31
set_io -nowarn P1B7  42
set_io -nowarn P1B8  36
set_io -nowarn P1B9  32
set_io -nowarn P1B10 28

# ------------ Leds and Buttons (PMOD 2) -------------------------------------
set_io -nowarn P2_1  27
set_io -nowarn P2_2  25
set_io -nowarn P2_3  21 # NOTE: constrained on same clock as SPIflash?
set_io -nowarn P2_4  19
set_io -nowarn P2_7  26
set_io -nowarn P2_8  23
set_io -nowarn P2_9  20 # NOTE: constrained on same clock as SPIflash?
set_io -nowarn P2_10 18

# ------------ RGB Led pins -------------------------------------
set_io -nowarn RGB_R 39
set_io -nowarn RGB_G 40
set_io -nowarn RGB_B 41
