BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "clk100" SITE "K23";
IOBUF PORT "clk100" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk100" 100 MHZ;

LOCATE COMP "leds[0]" SITE "T23";
LOCATE COMP "leds[1]" SITE "R21";
LOCATE COMP "leds[2]" SITE "T22";
LOCATE COMP "leds[3]" SITE "U21";
LOCATE COMP "leds[4]" SITE "W21";
LOCATE COMP "leds[5]" SITE "T24";
LOCATE COMP "leds[6]" SITE "K21";
LOCATE COMP "leds[7]" SITE "K24";
LOCATE COMP "leds[8]" SITE "M21";
LOCATE COMP "leds[9]" SITE "P21";
LOCATE COMP "leds[10]" SITE "R23";
LOCATE COMP "leds[11]" SITE "P22";

IOBUF PORT "leds[0]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "leds[1]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "leds[2]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "leds[3]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "leds[4]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "leds[5]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "leds[6]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "leds[7]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "leds[8]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "leds[9]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "leds[10]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "leds[11]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "uart_rx" SITE "R24";
LOCATE COMP "uart_tx" SITE "R26";
IOBUF PORT  "uart_rx" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "uart_tx" PULLMODE=UP IO_TYPE=LVCMOS33;

# PMOD0 connector
LOCATE COMP "P0A1"  SITE  T25;
LOCATE COMP "P0A2"  SITE  U25;
LOCATE COMP "P0A3"  SITE  U24;
LOCATE COMP "P0A4"  SITE  V24;
LOCATE COMP "P0A7"  SITE  T26;
LOCATE COMP "P0A8"  SITE  U26;
LOCATE COMP "P0A9"  SITE  V26;
LOCATE COMP "P0A10" SITE  W26;

IOBUF PORT  "P0A1" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT  "P0A2" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT  "P0A3" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT  "P0A4" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT  "P0A7" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT  "P0A8" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT  "P0A9" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT  "P0A10" PULLMODE=UP IO_TYPE=LVCMOS33;

# PMOD1 connector
LOCATE COMP "P1A1"  SITE  U23;
LOCATE COMP "P1A2"  SITE  V23;
LOCATE COMP "P1A3"  SITE  U22;
LOCATE COMP "P1A4"  SITE  V21;
LOCATE COMP "P1A7"  SITE  W25;
LOCATE COMP "P1A8"  SITE  W24;
LOCATE COMP "P1A9"  SITE  W23;
LOCATE COMP "P1A10" SITE  W22;

IOBUF PORT  "P1A1" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT  "P1A2" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT  "P1A3" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT  "P1A4" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT  "P1A7" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT  "P1A8" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT  "P1A9" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT  "P1A10" PULLMODE=UP IO_TYPE=LVCMOS33;

# PMOD2 connector
LOCATE COMP "P2A1"  SITE  J24;
LOCATE COMP "P2A2"  SITE  H22;
LOCATE COMP "P2A3"  SITE  E21;
LOCATE COMP "P2A4"  SITE  D18;
LOCATE COMP "P2A7"  SITE  K22;
LOCATE COMP "P2A8"  SITE  J21;
LOCATE COMP "P2A9"  SITE  H21;
LOCATE COMP "P2A10" SITE  D22;

IOBUF PORT  "P2A1" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT  "P2A2" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT  "P2A3" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT  "P2A4" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT  "P2A7" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT  "P2A8" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT  "P2A9" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT  "P2A10" PULLMODE=UP IO_TYPE=LVCMOS33;
