# https://github.com/emard/ulx3s/blob/master/doc/constraints/ulx3s_v20.lpf

BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
## ULX3S v2.x.x and v3.0.x

# The clock "usb" and "gpdi" sheet
LOCATE COMP "clk_25mhz" SITE "G2";
IOBUF PORT "clk_25mhz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_25mhz" 25 MHZ;

# JTAG and SPI FLASH voltage 3.3V and options to boot from SPI flash
# write to FLASH possible any time from JTAG:
#SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 MASTER_SPI_PORT=ENABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;
# write to FLASH possible from user bitstream:
SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 MASTER_SPI_PORT=DISABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;

## USBSERIAL FTDI-FPGA serial port "usb" sheet
LOCATE COMP "ftdi_rxd" SITE "L4"; # FPGA transmits to ftdi
LOCATE COMP "ftdi_txd" SITE "N3"; # FPGA receives from ftdi
#LOCATE COMP "ftdi_nrts" SITE "M3"; # FPGA receives
#LOCATE COMP "ftdi_ndtr" SITE "N1"; # FPGA receives
LOCATE COMP "ftdi_txden" SITE "T1"; # FPGA receives
IOBUF PORT "ftdi_rxd" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ftdi_txd" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF PORT "ftdi_nrts" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF PORT "ftdi_ndtr" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "ftdi_txden" PULLMODE=UP IO_TYPE=LVCMOS33;

## LED indicators "blinkey" and "gpio" sheet
LOCATE COMP "leds[7]" SITE "D3";
LOCATE COMP "leds[6]" SITE "D1";
LOCATE COMP "leds[5]" SITE "C1";
LOCATE COMP "leds[4]" SITE "C2";
LOCATE COMP "leds[3]" SITE "C3";
LOCATE COMP "leds[2]" SITE "B2";
LOCATE COMP "leds[1]" SITE "B3";
LOCATE COMP "leds[0]" SITE "A3";
IOBUF PORT "leds[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "leds[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "leds[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "leds[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "leds[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "leds[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "leds[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "leds[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

## Pushbuttons "blinkey", "flash", "power", "gpdi" sheet
LOCATE COMP "btns[0]" SITE "E1";  # BTN_PWRn
LOCATE COMP "btns[1]" SITE "D2";  # FIRE1
LOCATE COMP "btns[2]" SITE "F1";  # FIRE2
LOCATE COMP "btns[3]" SITE "A16"; # UP
LOCATE COMP "btns[4]" SITE "B16";  # DOWN
LOCATE COMP "btns[5]" SITE "B17";  # LEFT
LOCATE COMP "btns[6]" SITE "C17"; # RIGHT
IOBUF PORT "btns[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "btns[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "btns[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "btns[3]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "btns[4]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "btns[5]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "btns[6]" PULLMODE=DOWN IO_TYPE=LVCMOS33;

## DIP switch "blinkey", "gpio" sheet
LOCATE COMP "sw[0]" SITE "L18"; # SW1
LOCATE COMP "sw[1]" SITE "K18"; # SW2
LOCATE COMP "sw[2]" SITE "C5"; # SW3
LOCATE COMP "sw[3]" SITE "C6"; # SW4
IOBUF PORT "sw[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "sw[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "sw[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "sw[3]" PULLMODE=DOWN IO_TYPE=LVCMOS33;

## SPI OLED DISPLAY SSD1331 (Color) or SSD1306 (B/W) "blinkey", "usb" sheet
#LOCATE COMP "oled_clk" SITE "P4";
#LOCATE COMP "oled_mosi" SITE "P3";
#LOCATE COMP "oled_dc" SITE "P1";
#LOCATE COMP "oled_resn" SITE "P2";
#LOCATE COMP "oled_csn" SITE "N2";
#IOBUF PORT "oled_clk" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "oled_mosi" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "oled_dc" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "oled_resn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "oled_csn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

## SPI Flash chip "flash" sheet
LOCATE COMP "flash_csn" SITE "R2";
#LOCATE COMP "flash_clk" SITE "U3";
LOCATE COMP "flash_mosi" SITE "W2";
LOCATE COMP "flash_miso" SITE "V2";
LOCATE COMP "flash_holdn" SITE "W1";
LOCATE COMP "flash_wpn" SITE "Y2";
#LOCATE COMP "flash_csspin" SITE "AJ3";
#LOCATE COMP "flash_initn" SITE "AG4";
#LOCATE COMP "flash_done" SITE "AJ4";
#LOCATE COMP "flash_programn" SITE "AH4";
#LOCATE COMP "flash_cfg_select[0]" SITE "AM4";
#LOCATE COMP "flash_cfg_select[1]" SITE "AL4";
#LOCATE COMP "flash_cfg_select[2]" SITE "AK4";
IOBUF PORT "flash_csn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "flash_clk" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "flash_mosi" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "flash_miso" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "flash_holdn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "flash_wpn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "flash_csspin" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "flash_initn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "flash_done" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "flash_programn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "flash_cfg_select[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "flash_cfg_select[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "flash_cfg_select[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

## SD card "sdcard", "usb" sheet
LOCATE COMP "sd_clk"  SITE "G1"; # sd_clk
LOCATE COMP "sd_mosi" SITE "P1"; # sd_cmd_di (MOSI)
LOCATE COMP "sd_miso" SITE "B15"; # sd_dat0_do (MISO)
LOCATE COMP "sd_csn"  SITE "P2"; # sd_dat3_csn
LOCATE COMP "sd_en"   SITE "E15"; # sd_en
IOBUF PORT "sd_clk"   PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sd_mosi"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sd_miso"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sd_csn"   PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sd_en"    PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

## ADC SPI (MAX11123) "analog", "ram" sheet
#LOCATE COMP "adc_csn" SITE "R17";
#LOCATE COMP "adc_mosi" SITE "R16";
#LOCATE COMP "adc_miso" SITE "U16";
#LOCATE COMP "adc_sclk" SITE "P17";
#IOBUF PORT "adc_csn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "adc_mosi" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "adc_miso" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "adc_sclk" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

## Audio 4-bit DAC "analog", "gpio" sheet
# Output impedance 75 ohm.
# Strong enough to drive 16 ohm earphones.
#LOCATE COMP "audio_l[3]" SITE "B3"; # JACK TIP (left audio)
#LOCATE COMP "audio_l[2]" SITE "C3";
#LOCATE COMP "audio_l[1]" SITE "D3";
#LOCATE COMP "audio_l[0]" SITE "E4";
#LOCATE COMP "audio_r[3]" SITE "C5"; # JACK RING1 (right audio)
#LOCATE COMP "audio_r[2]" SITE "D5";
#LOCATE COMP "audio_r[1]" SITE "B5";
#LOCATE COMP "audio_r[0]" SITE "A3";
#LOCATE COMP "audio_v[3]" SITE "E5"; # JACK RING2 (video or digital audio)
#LOCATE COMP "audio_v[2]" SITE "F5";
#LOCATE COMP "audio_v[1]" SITE "F2";
#LOCATE COMP "audio_v[0]" SITE "H5";
#IOBUF PORT "audio_l[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
#IOBUF PORT "audio_l[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
#IOBUF PORT "audio_l[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
#IOBUF PORT "audio_l[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
#IOBUF PORT "audio_r[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
#IOBUF PORT "audio_r[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
#IOBUF PORT "audio_r[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
#IOBUF PORT "audio_r[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
#IOBUF PORT "audio_v[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
#IOBUF PORT "audio_v[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
#IOBUF PORT "audio_v[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
#IOBUF PORT "audio_v[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;

## WiFi ESP-32 "wifi", "usb", "flash" sheet
# other pins are shared with GP/GN, SD card and JTAG
#LOCATE COMP "wifi_en" SITE "F1"; # enable/reset WiFi
#LOCATE COMP "wifi_rxd" SITE "K3"; # FPGA transmits to WiFi
#LOCATE COMP "wifi_txd" SITE "K4"; # FPGA receives from WiFi
#LOCATE COMP "wifi_gpio0" SITE "L2";
#LOCATE COMP "wifi_gpio5" SITE "N4"; # WIFI LED
#LOCATE COMP "wifi_gpio16" SITE "L1"; # Serial1 RX
#LOCATE COMP "wifi_gpio17" SITE "N3"; # Serial1 TX
# LOCATE COMP "prog_done" SITE "Y3"; # not GPIO, always active
#IOBUF PORT "wifi_en" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "wifi_rxd" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "wifi_txd" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "wifi_gpio0" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "wifi_gpio5" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "wifi_gpio16" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "wifi_gpio17" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
# IOBUF PORT "prog_done" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

## PCB antenna 433 MHz (may be also used for FM) "usb" sheet
#LOCATE COMP "ant_433mhz" SITE "G1";
#IOBUF PORT "ant_433mhz" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

## Second USB port "US2" going directly into FPGA "usb", "ram" sheet
LOCATE COMP "usb_fpga_dp" SITE "A6"; # single ended or differential input only
LOCATE COMP "usb_fpga_dn" SITE "B6";
LOCATE COMP "usb_fpga_bd_dp" SITE "F4"; # single-ended bidirectional
LOCATE COMP "usb_fpga_bd_dn" SITE "E3";
LOCATE COMP "usb_fpga_pu_dp" SITE "F4"; # pull up/down control
LOCATE COMP "usb_fpga_pu_dn" SITE "E5";
LOCATE COMP "usb_fpga_otg_id" SITE "D9";
IOBUF PORT "usb_fpga_dp" PULLMODE=NONE IO_TYPE=LVCMOS33D DRIVE=16;
IOBUF PORT "usb_fpga_dn" PULLMODE=NONE IO_TYPE=LVCMOS33D DRIVE=16;
IOBUF PORT "usb_fpga_bd_dp" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "usb_fpga_bd_dn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "usb_fpga_pu_dp" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
IOBUF PORT "usb_fpga_pu_dn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
IOBUF  PORT "usb_fpga_otg_id" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

## JTAG ESP-32 "usb" sheet
# connected to FT231X and ESP-32
# commented out because those are dedicated pins, not directly useable as GPIO
# but could be used by some vendor-specific JTAG bridging (boundary scan) module
#LOCATE COMP "jtag_tdi" SITE "R5"; # FTDI_nRI   FPGA receives
#LOCATE COMP "jtag_tdo" SITE "V4"; # FTDI_nCTS  FPGA transmits
#LOCATE COMP "jtag_tck" SITE "T5"; # FTDI_nDSR  FPGA receives
#LOCATE COMP "jtag_tms" SITE "U5"; # FTDI_nDCD  FPGA receives
#IOBUF PORT "jtag_tdi" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "jtag_tdo" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "jtag_tck" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "jtag_tms" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

## SDRAM "ram" sheet
LOCATE COMP "sdram_clk" SITE "L20";
LOCATE COMP "sdram_cke" SITE "J17";
LOCATE COMP "sdram_csn" SITE "D20";
LOCATE COMP "sdram_wen" SITE "E19";
LOCATE COMP "sdram_rasn" SITE "G16";
LOCATE COMP "sdram_casn" SITE "H20";
LOCATE COMP "sdram_a[0]" SITE "H16";
LOCATE COMP "sdram_a[1]" SITE "D19";
LOCATE COMP "sdram_a[2]" SITE "F16";
LOCATE COMP "sdram_a[3]" SITE "E18";
LOCATE COMP "sdram_a[4]" SITE "T19";
LOCATE COMP "sdram_a[5]" SITE "T18";
LOCATE COMP "sdram_a[6]" SITE "J16";
LOCATE COMP "sdram_a[7]" SITE "P18";
LOCATE COMP "sdram_a[8]" SITE "T20";
LOCATE COMP "sdram_a[9]" SITE "L19";
LOCATE COMP "sdram_a[10]" SITE "C20";
LOCATE COMP "sdram_a[11]" SITE "K19";
LOCATE COMP "sdram_a[12]" SITE "R20";
LOCATE COMP "sdram_ba[0]" SITE "J19";
LOCATE COMP "sdram_ba[1]" SITE "L16";
LOCATE COMP "sdram_dqm[0]" SITE "E20";
LOCATE COMP "sdram_dqm[1]" SITE "P20";
LOCATE COMP "sdram_dq[0]" SITE "J18";
LOCATE COMP "sdram_dq[1]" SITE "G20";
LOCATE COMP "sdram_dq[2]" SITE "G19";
LOCATE COMP "sdram_dq[3]" SITE "E16";
LOCATE COMP "sdram_dq[4]" SITE "F19";
LOCATE COMP "sdram_dq[5]" SITE "F20";
LOCATE COMP "sdram_dq[6]" SITE "H18";
LOCATE COMP "sdram_dq[7]" SITE "F18";
LOCATE COMP "sdram_dq[8]" SITE "P19";
LOCATE COMP "sdram_dq[9]" SITE "N17";
LOCATE COMP "sdram_dq[10]" SITE "M18";
LOCATE COMP "sdram_dq[11]" SITE "N20";
LOCATE COMP "sdram_dq[12]" SITE "N19";
LOCATE COMP "sdram_dq[13]" SITE "M20";
LOCATE COMP "sdram_dq[14]" SITE "M19";
LOCATE COMP "sdram_dq[15]" SITE "L17";
IOBUF PORT "sdram_clk" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_cke" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_csn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_wen" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_rasn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_casn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[8]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[9]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[10]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[11]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[12]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_ba[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_ba[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dqm[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dqm[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dq[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dq[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dq[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dq[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dq[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dq[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dq[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dq[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dq[8]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dq[9]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dq[10]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dq[11]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dq[12]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dq[13]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dq[14]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dq[15]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# GPDI differential interface (Video) "gpdi" sheet
LOCATE COMP "gpdi_dp[0]" SITE "B9"; # Blue +
LOCATE COMP "gpdi_dn[0]" SITE "C10"; # Blue -
LOCATE COMP "gpdi_dp[1]" SITE "A7"; # Green +
LOCATE COMP "gpdi_dn[1]" SITE "A8"; # Green -
LOCATE COMP "gpdi_dp[2]" SITE "C8"; # Red +
LOCATE COMP "gpdi_dn[2]" SITE "B8"; # Red -
LOCATE COMP "gpdi_dp[3]" SITE "B11"; # Clock +
LOCATE COMP "gpdi_dn[3]" SITE "C11"; # Clock -
IOBUF PORT "gpdi_dp[0]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[0]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dp[1]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[1]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dp[2]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[2]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dp[3]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[3]" IO_TYPE=LVCMOS33D DRIVE=4;

LOCATE COMP "gpdi_dp[4]" SITE "F17"; # Blue +
LOCATE COMP "gpdi_dn[4]" SITE "G18"; # Blue -
LOCATE COMP "gpdi_dp[5]" SITE "D18"; # Green +
LOCATE COMP "gpdi_dn[5]" SITE "E17"; # Green -
LOCATE COMP "gpdi_dp[6]" SITE "C18"; # Red +
LOCATE COMP "gpdi_dn[6]" SITE "D17"; # Red -
LOCATE COMP "gpdi_dp[7]" SITE "J20"; # Clock +
LOCATE COMP "gpdi_dn[7]" SITE "K20"; # Clock -
#LOCATE COMP "gpdi_ethp" SITE "A19"; # Ethernet +
#LOCATE COMP "gpdi_ethn" SITE "B20"; # Ethernet -
#LOCATE COMP "gpdi_cec" SITE "A18";
#LOCATE COMP "gpdi_sda" SITE ""; # I2C shared with RTC
#LOCATE COMP "gpdi_scl" SITE "E12"; # I2C shared with RTC C12->E12
IOBUF PORT "gpdi_dp[0]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[0]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dp[1]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[1]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dp[2]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[2]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dp[3]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[3]" IO_TYPE=LVCMOS33D DRIVE=4;
#IOBUF PORT "gpdi_ethp" IO_TYPE=LVCMOS33D DRIVE=4;
#IOBUF PORT "gpdi_ethn" IO_TYPE=LVCMOS33D DRIVE=4;
#IOBUF PORT "gpdi_cec" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "gpdi_sda" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "gpdi_scl" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "gpio_scl" SITE "J3"; # SCL1 - WIFI_GPIO22 rasp-GPIO0
LOCATE COMP "gpio_sda" SITE "H1"; # SDA1 - WIFI_GPIO21 rasp-GPIO1
IOBUF  PORT "gpio_sda" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "gpio_scl" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# GPIO 0 and 1 are SCL0
#LOCATE COMP "gpio[0]" SITE "T17"; # SDA0 - FPGA only CAM1
#IOBUF  PORT "gpio[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "gpio[1]" SITE "U17"; # SCL0 - FPGA only CAM1 
#IOBUF  PORT "gpio[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "gpio[2]" SITE "M17";
IOBUF  PORT "gpio[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[3]" SITE "P17";
IOBUF  PORT "gpio[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[4]" SITE "P16";
IOBUF  PORT "gpio[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[5]" SITE "N1";
IOBUF  PORT "gpio[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[6]" SITE "R1";
IOBUF  PORT "gpio[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[7]" SITE "P3";
IOBUF  PORT "gpio[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[8]" SITE "P4";
IOBUF  PORT "gpio[8]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[9]" SITE "L5";
IOBUF  PORT "gpio[9]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[10]" SITE "K4";
IOBUF  PORT "gpio[10]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[11]" SITE "N2";
IOBUF  PORT "gpio[11]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[12]" SITE "L2";
IOBUF  PORT "gpio[12]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[13]" SITE "D6";
IOBUF  PORT "gpio[13]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[14]" SITE "N18";
IOBUF  PORT "gpio[14]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[15]" SITE "N16";
IOBUF  PORT "gpio[15]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[16]" SITE "L1";
IOBUF  PORT "gpio[16]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[17]" SITE "H3";
IOBUF  PORT "gpio[17]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[18]" SITE "N5";
IOBUF  PORT "gpio[18]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[19]" SITE "U1";
IOBUF  PORT "gpio[19]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[20]" SITE "L3";
IOBUF  PORT "gpio[20]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[21]" SITE "L4";
IOBUF  PORT "gpio[21]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[22]" SITE "M3";
IOBUF  PORT "gpio[22]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[23]" SITE "N4";
IOBUF  PORT "gpio[23]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[24]" SITE "N3";
IOBUF  PORT "gpio[24]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[25]" SITE "P5";
IOBUF  PORT "gpio[25]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[26]" SITE "V1";
IOBUF  PORT "gpio[26]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[27]" SITE "R17";
IOBUF  PORT "gpio[27]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

## PROGRAMN (reload bitstream from FLASH, exit from bootloader)
# PCB v2.0.5 and higher
LOCATE COMP "user_programn" SITE "E8";
IOBUF PORT "user_programn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

## SHUTDOWN "power", "ram" sheet (connected from PCB v1.7.5)
# on PCB v1.7 shutdown is not connected to FPGA
LOCATE COMP "shutdown" SITE "G16"; # FPGA receives
IOBUF PORT "shutdown" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
