SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 MASTER_SPI_PORT=ENABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;

# https://www.latticesemi.com/en/Support/AnswerDatabase/1/9/6/1964
BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

# Clock
LOCATE COMP "clk" SITE "M1";
IOBUF  PORT "clk" IO_TYPE=LVCMOS33 PULLMODE=NONE;
FREQUENCY PORT "clk" 50 MHZ;

# FTDI
LOCATE COMP "usb_tx" SITE "K15"; # Transmit to ftdi
IOBUF  PORT "usb_tx" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "usb_rx" SITE "K16"; # Transmit from ftdi
IOBUF  PORT "usb_rx" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "usb_rtsn" SITE "L16";
IOBUF  PORT "usb_rtsn" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=DOWN;
LOCATE COMP "usb_dtrn" SITE "L15";
IOBUF  PORT "usb_dtrn" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=DOWN;
LOCATE COMP "usb_ctsn" SITE "M11";
IOBUF  PORT "usb_ctsn" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=DOWN;
LOCATE COMP "usb_dcdn" SITE "N12";
IOBUF  PORT "usb_dcdn" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=DOWN;
LOCATE COMP "usb_rin" SITE "P11";
IOBUF  PORT "usb_rin" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=DOWN;

# GPIOs
LOCATE COMP "gpio[0]" SITE "T2"; # 3
IOBUF  PORT "gpio[0]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[1]" SITE "R2"; # 5
IOBUF  PORT "gpio[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[2]" SITE "R1"; # 7
IOBUF  PORT "gpio[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[3]" SITE "P1"; # 8
IOBUF  PORT "gpio[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[4]" SITE "N1"; # 10
IOBUF  PORT "gpio[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[5]" SITE "R3"; # 11
IOBUF  PORT "gpio[5]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[6]" SITE "N4"; # 12
IOBUF  PORT "gpio[6]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[7]" SITE "P3"; # 13
IOBUF  PORT "gpio[7]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[8]" SITE "P2"; # 15
IOBUF  PORT "gpio[8]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[9]" SITE "M2"; # 16
IOBUF  PORT "gpio[9]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[10]" SITE "L1"; # 18
IOBUF  PORT "gpio[10]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[11]" SITE "L2"; # 19
IOBUF  PORT "gpio[11]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[12]" SITE "J1"; # 21
IOBUF  PORT "gpio[12]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[13]" SITE "J2"; # 22
IOBUF  PORT "gpio[13]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[14]" SITE "G2"; # 23
IOBUF  PORT "gpio[14]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[15]" SITE "H2"; # 24
IOBUF  PORT "gpio[15]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[16]" SITE "G1"; # 26
IOBUF  PORT "gpio[16]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[17]" SITE "G3"; # 27
IOBUF  PORT "gpio[17]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[18]" SITE "K3"; # 28
IOBUF  PORT "gpio[18]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[19]" SITE "E1"; # 29
IOBUF  PORT "gpio[19]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[20]" SITE "F3"; # 31
IOBUF  PORT "gpio[20]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[21]" SITE "J3"; # 32
IOBUF  PORT "gpio[21]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[22]" SITE "E3"; # 33
IOBUF  PORT "gpio[22]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[23]" SITE "E4"; # 35
IOBUF  PORT "gpio[23]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[24]" SITE "H3"; # 36
IOBUF  PORT "gpio[24]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[25]" SITE "D4"; # 37
IOBUF  PORT "gpio[25]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[26]" SITE "F1"; # 38
IOBUF  PORT "gpio[26]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[27]" SITE "F2"; # 40
IOBUF  PORT "gpio[27]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;

# LEDs
LOCATE COMP "leds[0]" SITE "E13";
IOBUF  PORT "leds[0]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4;
LOCATE COMP "leds[1]" SITE "D14";
IOBUF  PORT "leds[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4;
LOCATE COMP "leds[2]" SITE "E12";
IOBUF  PORT "leds[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4;
LOCATE COMP "leds[3]" SITE "C13";
IOBUF  PORT "leds[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4;
LOCATE COMP "leds[4]" SITE "D13";
IOBUF  PORT "leds[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4;

# Buttons
LOCATE COMP "button[0]" SITE "C4";
IOBUF  PORT "button[0]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
LOCATE COMP "button[1]" SITE "C5";
IOBUF  PORT "button[1]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;

# FDPI
LOCATE COMP "gpdi_dp[0]" SITE "R13"; # Blue
IOBUF  PORT "gpdi_dp[0]" IO_TYPE=LVCMOS33D DRIVE=4;
LOCATE COMP "gpdi_dn[0]" SITE "T14";
IOBUF  PORT "gpdi_dn[0]" IO_TYPE=LVCMOS33D DRIVE=4;
LOCATE COMP "gpdi_dp[1]" SITE "R15"; # Green
IOBUF  PORT "gpdi_dp[1]" IO_TYPE=LVCMOS33D DRIVE=4;
LOCATE COMP "gpdi_dn[1]" SITE "T15";
IOBUF  PORT "gpdi_dn[1]" IO_TYPE=LVCMOS33D DRIVE=4;
LOCATE COMP "gpdi_dp[2]" SITE "P16"; # Red
IOBUF  PORT "gpdi_dp[2]" IO_TYPE=LVCMOS33D DRIVE=4;
LOCATE COMP "gpdi_dn[2]" SITE "R16";
IOBUF  PORT "gpdi_dn[2]" IO_TYPE=LVCMOS33D DRIVE=4;
LOCATE COMP "gpdi_dp[3]" SITE "R12"; # Clock
IOBUF  PORT "gpdi_dp[3]" IO_TYPE=LVCMOS33D DRIVE=4;
LOCATE COMP "gpdi_dn[3]" SITE "T13";
IOBUF  PORT "gpdi_dn[3]" IO_TYPE=LVCMOS33D DRIVE=4;

LOCATE COMP "gpdi_cec" SITE "R5";
IOBUF  PORT "gpdi_cec" IO_TYPE=LVCMOS33 PULLMODE=NONE PULLMODE=UP DRIVE=4;
LOCATE COMP "gpdi_sck" SITE "T3";
IOBUF  PORT "gpdi_sck" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
LOCATE COMP "gpdi_sda" SITE "T4";
IOBUF  PORT "gpdi_sda" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
LOCATE COMP "gpdi_util" SITE "P5";
IOBUF  PORT "gpdi_util" IO_TYPE=LVCMOS33 PULLMODE=NONE;
LOCATE COMP "gpdi_hpd" SITE "L14";
IOBUF  PORT "gpdi_hpd" IO_TYPE=LVCMOS33 PULLMODE=NONE;

# SD Card
LOCATE COMP "sd_dat[0]" SITE "P14";
IOBUF  PORT "sd_dat[0]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
LOCATE COMP "sd_dat[1]" SITE "R14";
IOBUF  PORT "sd_dat[1]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
LOCATE COMP "sd_dat[2]" SITE "M15";
IOBUF  PORT "sd_dat[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sd_dat[3]" SITE "M14";
IOBUF  PORT "sd_dat[3]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;

LOCATE COMP "sd_miso" SITE "P14";
IOBUF  PORT "sd_miso" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
LOCATE COMP "sd_mosi" SITE "N16";
IOBUF  PORT "sd_mosi" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
LOCATE COMP "sd_csn" SITE "M14";
IOBUF  PORT "sd_csn" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;

LOCATE COMP "sd_clk" SITE "P15";
IOBUF  PORT "sd_clk" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
LOCATE COMP "sd_cmd" SITE "N16";
IOBUF  PORT "sd_cmd" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
LOCATE COMP "sd_det" SITE "M16";
IOBUF  PORT "sd_det" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;

# USB
LOCATE COMP "usb_dp[0]" SITE "F15";
IOBUF  PORT "usb_dp[0]" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE;
LOCATE COMP "usb_dn[0]" SITE "E16";
IOBUF  PORT "usb_dn[0]" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE;
LOCATE COMP "usb_pull_dp[0]" SITE "G15";
IOBUF  PORT "usb_pull_dp[0]" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE;
LOCATE COMP "usb_pull_dn[0]" SITE "H14";
IOBUF  PORT "usb_pull_dn[0]" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE;
LOCATE COMP "usb_dp[1]" SITE "J16";
IOBUF  PORT "usb_dp[1]" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE;
LOCATE COMP "usb_dn[1]" SITE "J15";
IOBUF  PORT "usb_dn[1]" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE;
LOCATE COMP "usb_pull_dp[1]" SITE "E14";
IOBUF  PORT "usb_pull_dp[1]" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE;
LOCATE COMP "usb_pull_dn[1]" SITE "E11";
IOBUF  PORT "usb_pull_dn[1]" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE;

# SDRAM
LOCATE COMP "sdram_a[0]" SITE "B10";
IOBUF  PORT "sdram_a[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_a[1]" SITE "A9";
IOBUF  PORT "sdram_a[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_a[2]" SITE "B9";
IOBUF  PORT "sdram_a[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_a[3]" SITE "A8";
IOBUF  PORT "sdram_a[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_a[4]" SITE "B8";
IOBUF  PORT "sdram_a[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_a[5]" SITE "A7";
IOBUF  PORT "sdram_a[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_a[6]" SITE "B7";
IOBUF  PORT "sdram_a[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_a[7]" SITE "A6";
IOBUF  PORT "sdram_a[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_a[8]" SITE "B6";
IOBUF  PORT "sdram_a[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_a[9]" SITE "A5";
IOBUF  PORT "sdram_a[9]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_a[10]" SITE "A10";
IOBUF  PORT "sdram_a[10]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_a[11]" SITE "B5";
IOBUF  PORT "sdram_a[11]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_a[12]" SITE "A4";
IOBUF  PORT "sdram_a[12]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;

LOCATE COMP "sdram_dq[0]" SITE "B16";
IOBUF  PORT "sdram_dq[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_dq[1]" SITE "C14";
IOBUF  PORT "sdram_dq[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_dq[2]" SITE "C16";
IOBUF  PORT "sdram_dq[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_dq[3]" SITE "C15";
IOBUF  PORT "sdram_dq[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_dq[4]" SITE "D16";
IOBUF  PORT "sdram_dq[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_dq[5]" SITE "A15";
IOBUF  PORT "sdram_dq[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_dq[6]" SITE "B15";
IOBUF  PORT "sdram_dq[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_dq[7]" SITE "A14";
IOBUF  PORT "sdram_dq[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_dq[8]" SITE "A2";
IOBUF  PORT "sdram_dq[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_dq[9]" SITE "B2";
IOBUF  PORT "sdram_dq[9]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_dq[10]" SITE "E2";
IOBUF  PORT "sdram_dq[10]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_dq[11]" SITE "D1";
IOBUF  PORT "sdram_dq[11]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_dq[12]" SITE "C2";
IOBUF  PORT "sdram_dq[12]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_dq[13]" SITE "C1";
IOBUF  PORT "sdram_dq[13]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_dq[14]" SITE "C3";
IOBUF  PORT "sdram_dq[14]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_dq[15]" SITE "B1";
IOBUF  PORT "sdram_dq[15]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;

LOCATE COMP "sdram_ba[0]" SITE "A11";
IOBUF  PORT "sdram_ba[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_ba[1]" SITE "B11";
IOBUF  PORT "sdram_ba[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;

LOCATE COMP "sdram_dqm[0]" SITE "B14";
IOBUF  PORT "sdram_dqm[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_dqm[1]" SITE "B3";
IOBUF  PORT "sdram_dqm[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;

LOCATE COMP "sdram_csn" SITE "B12";
IOBUF  PORT "sdram_csn" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_cke" SITE "B4";
IOBUF  PORT "sdram_cke" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_clk" SITE "A3";
IOBUF  PORT "sdram_clk" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_wen" SITE "A13";
IOBUF  PORT "sdram_wen" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_casn" SITE "B13";
IOBUF  PORT "sdram_casn" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sdram_rasn" SITE "A12";
IOBUF  PORT "sdram_rasn" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;

# SPI Flash
LOCATE COMP "flash_csn" SITE "N8";
IOBUF  PORT "flash_csn" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
LOCATE COMP "flash_clk" SITE "N9";
IOBUF  PORT "flash_clk" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
LOCATE COMP "flash_mosi" SITE "T8";
IOBUF  PORT "flash_mosi" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
LOCATE COMP "flash_miso" SITE "T7";
IOBUF  PORT "flash_miso" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
LOCATE COMP "flash_wpn" SITE "M7";
IOBUF  PORT "flash_wpn" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
LOCATE COMP "flash_reset" SITE "N7";
IOBUF  PORT "flash_reset" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;

# Testpoints
LOCATE COMP "tp[0]" SITE "C7";
IOBUF  PORT "tp[0]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "tp[1]" SITE "C8";
IOBUF  PORT "tp[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;

